html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #E5E5E5;
}

.container {
  padding: 10px;
}

.first-page {
  width: 1443px;
  height: 1014px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/electr.jpg");
  background-size: cover;
}
.first-page header {
  display: flex;
}
.first-page .phone-numbers-header {
  display: flex;
  height: 54px;
  background-color: rgba(0, 0, 0, 0.2);
}
.first-page .phone-numbers-header div {
  width: 139px;
  height: 38px;
  margin-right: 47px;
}
.first-page .phone-numbers-header div:first-child {
  margin-left: 818px;
}
.first-page .phone-numbers-header p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: "Gilroy";
}
.first-page .icons-header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 22px 131px 0px 20px;
}
.first-page .icons-header li {
  margin-left: 20px;
}