html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($size, $weight, $line-height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

body {
    padding: 0;
    margin: 0;
    background: #E5E5E5;
}

.main-container {
    background: #fff;
    width: 1443px;
}

.first-page {
    position: relative;
    height: 1014px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url('../../images/electr.jpg');
    background-size: cover;
    header {
        position: relative;
    }
    header .wrapper-phone-icons {
        display: flex;
    }
    .phone-numbers-header {
        display: flex;
        height: 54px;
        background-color: hsla(0, 0%, 0%, .2);
        div {
            @include size(139px,
            38px);
            margin-right: 47px;
            &:first-child {
                margin-left: 818px;
            }
        }
        p {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            font-family: 'Gilroy';
        }
    }
    .icons-header {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 22px 131px 0px 20px;
        }
        li {
            margin-left: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    header .wrapper-logo-nav-button {
        display: flex;
        padding: 0px 80px;
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            li {
                display: block;
                height: 80px;
                margin-right: 20px;
                padding: 27px 0px;
                margin-right: 80px;
            }
            & a {
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
    .descriptionAboutPage {
        color: #fff;
        position: absolute;
        left: 335px;
        top: 279px;
        .title {
            @include size(860px,
            112px);
            padding-right: 40px;
            margin-bottom: 29px;
            h1 {
                @include font(40px,
                400,
                55.76px);
                font-family: serif;
                margin: 0;
            }
        }
        .description {
            @include size(776px,
            75px);
            margin-bottom: 60px;
            p {
                @include font(18px,
                400,
                25.09px);
            }
        }
    }
    .additional-information {
        position: absolute;
        bottom: 0px;
        height: 168px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        color: #fff;
        font-size: 20px;
        border-top: 1px solid #E5E5E5;
        padding: 10px;
        padding: 10px 80px;
        display: flex;
        align-items: center;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li+li {
                margin-left: 97px;
                a {
                    text-align: center;
                    @include font(20px,
                    400,
                    27.88px);
                }
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

.active {
    border-bottom: 2px solid #FF9900;
    padding-bottom: 3px;
    color: #FF9900;
}

.call {
    @include size(143px,
    30px);
    border: 2px solid #FF9900;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
}

.order-call {
    position: absolute;
    top: 78px;
    right: 94px;
    color: #FF9900;
}

.leave-request {
    background: #FF9900;
}

.logo {
    @include size(73px,
    80px);
    margin-right: 175px;
    text-align: center;
    span {
        @include font(24px,
        900,
        80px);
        color: #FF9900;
    }
}


/*Styles for page "who-we-are"*/

.who-we-are-wrapper {
    height: 1309px;
    width: 100%;
    background-image: url(../../images/plan.png);
    background-size: 692px 606px;
    background-repeat: no-repeat;
    background-position: bottom 350px right -10px;
    position: relative;
    .about-us-wrapper {
        display: flex;
        .electruk-image {
            width: 655px;
            height: 778px;
            display: flex;
            position: relative;
            img {
                flex: none;
                width: 655px;
                height: 778px;
            }
            .expierence-number {
                p {
                    margin: 0px;
                    @include font(30px,
                    400,
                    41.82px);
                    padding: 20px;
                    span {
                        @include font(70px,
                        400,
                        97.58px);
                        &:after {
                            content: '+';
                            position: relative;
                            left: 10px;
                            bottom: 15px;
                        }
                    }
                }
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 238px;
                height: 220px;
                background: #FFB800;
                color: #fff;
            }
        }
        .about-us {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-us-inner {
                p {
                    margin: 0px;
                    margin-bottom: 20px;
                }
                width: 542px;
                height: 416px;
            }
        }
    }
    .stages-of-work-wrapper {
        p {
            margin: 0px;
            margin-bottom: 20px;
            &:nth-child(2) {
                color: #fff;
            }
        }
        width: 100%;
        height: 531px;
        background: #000;
        padding: 65px 170px;
        .wrapper-for-numbers-text {
            width: 100%;
            height: auto;
            .container {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #fff;
                margin-top: 100px;
                .wrapper-number {
                    margin-top: -26px;
                    .number {
                        border: 1px solid #fff;
                        padding: 5px;
                        border-radius: 50%;
                        text-align: center;
                        width: 50px;
                        height: 50px;
                        color: #fff;
                        font-size: 30px;
                        background: #000;
                    }
                }
            }
            .text-wrapper {
                display: flex;
                justify-content: space-between;
                .text-under-numbers {
                    width: 130px;
                    margin-top: 15px;
                    @include font(14px,
                    normal,
                    139.4%);
                    color: #fff;
                }
            }
        }
    }
}


/*Styles for page with slider*/

.page-with-slider {
    @include size(100%,
    919px);
    background: rgb(255, 255, 255);
    background-image: url('../../images/plan.png');
    background-size: 692px 606px;
    background-repeat: no-repeat;
    background-position: top 410px left 310px;
    position: relative;
    .title-page-slider {
        width: 307px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        * {
            margin: 0;
            text-align: center
        }
    }
    .flex-container {
        position: absolute;
        top: 235px;
        display: flex;
        width: 100%;
        .project-name {
            width: 50%;
            padding-top: 166px;
            padding-left: 168px;
             :nth-child(1) {
                @include font(24px,
                600,
                33.46px);
                margin: 0px 0px 16px;
            }
             :nth-child(3),
             :nth-child(4) {
                @include font(18px,
                700,
                25.09px);
                margin: 0px 0px 10px;
            }
        }
        .room-demo {
            @include size(50%,
            678px);
            position: relative;
            .slider {
                position: absolute;
                right: 0;
                @include size(541px,
                678px);
                overflow: hidden;
                .slider-line {
                    @include size(2164px,
                    590px);
                    display: flex;
                    position: relative;
                    left: 0;
                    transition: all ease 1s;
                    img {
                        width: auto;
                        height: 590px;
                        object-fit: cover;
                    }
                }
                .slider-nav {
                    @include size(100%,
                    88px);
                    background: #FFB800;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icons-prev-next {
                        color: #fff;
                        font-weight: 400;
                        font-size: 30px;
                        text-align: center;
                         :first-child,
                         :last-child {
                            margin: 20px;
                        }
                         :first-child:hover,
                         :last-child:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .small-images {
                width: 170px;
                display: inline-block;
                .thumbnail {
                    position: relative;
                    right: -45px;
                    max-width: 120px;
                    max-height: 120px;
                    object-fit: cover;
                    cursor: pointer;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


/*Styles for footer*/

.footer-wrapper {
    position: relative;
    @include size(100%,
    403px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    .block-for-align {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include size(1115px,
        200px);
        a {
            display: block;
            color: #fff;
            text-decoration: none;
            @include font(16px,
            300,
            24.51px);
            &:hover {
                text-decoration: underline;
                color: #FFB800;
            }
        }
        .icons * {
            margin-top: 6px;
        }
    }
    hr {
        position: absolute;
        bottom: 30px;
        width: 100%;
        border: 1px solid #fff;
    }
    .copywriter {
        position: absolute;
        bottom: 0px;
        left: 168px;
        color: #fff;
        >p {
            margin: 0px 0px 7px;
        }
    }
}

.paragr {
    @include size(308px,
    75px);
}

.pos {
    position: absolute;
    top: 0px;
    left: 0px;
}

#span-descp {
    @include font(20px,
    400,
    27.88px);
}

.div-active {
    position: absolute;
    right: 0;
    top: 0;
    @include size(541px,
    590px);
}

.active-image {
    @include size(541px,
    590px);
    object-fit: cover;
}

.hide {
    display: none;
}

.active-thumbnail {
    border: 2px solid black;
    opacity: 1 !important;
    transition: opacity ease .5s;
}

.yellow-letter-spacing {
    @include font(18px,
    400,
    25.09px);
    color: #FF9900;
    letter-spacing: 3px;
}

.caption {
    @include font(40px,
    400,
    55.76px);
}

.small-paragraph {
    margin: 0px;
    text-align: left;
    @include size(504px,
    145px);
    @include font(18px,
    400,
    25.09px);
}